<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GraphQL Demo</title>
	</head>
	<body>
		<h1>Welcome</h1>
		<div class="container">
			<div class="card">
				<h2 class="name"></h2>
				<h2 class="age"></h2>
				<h2 class="title"></h2>
				<h2 class="experience"></h2>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="/js/script.js" defer></script>
	</body>
</html>
