:root {
	--primary-color: #4f7cac;
	--secondary-color: #9eefe5;
	--primary-color-darker: #3c474b;
	--text-dark: #162521;
	--text-light: #c0e0de;
	--max-width: 114rem;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body,
html {
	height: 100%;
}
html {
	font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Quicksand", sans-serif;
}

ul li {
	list-style-type: none;
}

header {
	min-height: 80vh;
	background-color: var(--primary-color);
}
.navigation {
	display: flex;
	justify-content: space-between;
	max-width: var(--max-width);
	margin: 0 auto;
	padding-top: 2rem;
	align-items: center;
}

.logo {
	font-weight: 600;
	font-size: 2.5rem !important;
}

.navigation a {
	text-decoration: none;
	font-size: 2rem;
	color: var(--text-light);
}
.navigation__right {
}
.content {
	max-width: var(--max-width);
	margin: 0 auto;
}
.title {
	text-align: center;
	line-height: 50vh;
	font-size: 5rem;
	color: var(--secondary-color);
}
.color {
	color: var(--text-dark);
}

.result {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 5%;
}
.card {
	display: flex;
	flex-direction: column;
	width: 21.25%;
	padding: 2rem;
	border: 2px solid rgb(231, 231, 231);
	border-top: 2px solid var(--secondary-color);
	box-shadow: 2px 2px 8px rgb(235, 233, 233);
	word-break: break-all;
	margin: 4rem 0 2rem;
	min-height: 30rem;
	justify-content: space-around;
	border-radius: 10px;
	transition: border 0.2s linear;
}
.card:nth-of-type(2n) {
	border-top: 2px solid #fde74c;
}
.card:nth-of-type(2n):hover {
	border: 2px solid #fde74c;
}
.card:hover {
	border: 2px solid var(--secondary-color);
}
.highlight {
	color: var(--primary-color);
}
.btn--view {
	border: none;
	padding: 0.9rem;
	font-family: inherit;
	color: #fff;
	background-color: var(--primary-color-darker);
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}
.btn--view:hover {
	transform: translateY(-3px);
}

.big-card {
	display: flex;
	flex-direction: column;
	width: 80%;
	padding: 2rem;
	border: 2px solid rgb(231, 231, 231);
	border-top: 2px solid var(--secondary-color);
	box-shadow: 2px 2px 8px rgb(235, 233, 233);
	word-break: break-all;
	margin: 4rem 0 2rem;
	min-height: 40rem;
	justify-content: space-around;
	border-radius: 10px;
	transition: border 0.2s linear;
	font-size: 2.5rem;
}

.main__title {
	flex: 0 0 100%;
	font-size: 2.6rem;
	margin-top: 2rem;
}

main {
	padding-bottom: 5rem;
}
